*.pdf
.kaggle.json
.ipynb_checkpoints/
.venv/
**/venv/
**/**cache**

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# direnv
.envrc

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
