.kaggle.json
.ipynb_checkpoints/
.build/
.venv/
**/venv/
**/**cache**

# Deliverables
*.pdf
*.mp4

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# direnv
.envrc

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
